<div class="footer">
    <div class="container clearfix">
        <div class="block block-lf">
            <a class="logo" href="/"><img src="/static/images/logo.png" alt="上天入地黄博士">上天入地黄博士</a>
            <p>联系我：<a class="mail" href="mailto:hjl4347570@gmail.com" target="_blank">hjl4347570@gmail.com</a></p>
            <p><a href="/">Alexander Huang</a>&nbsp;独家出品</p>
        </div>
        <div class="block block-md">
            <h3 class="head">相关频道</h3>
            <ul class="channel-bd">
                <li><i class="square"></i><a href="/">网站首页</a></li>
                <li><i class="square"></i><a href="/blog">个人博客</a></li>
                <li><i class="square"></i><a href="/tech">极客天地</a></li>
                <li><i class="square"></i><a href="/joke">段子世界</a></li>
                <li><i class="square"></i><a href="/about">关于站长</a></li>
            </ul>
        </div>
        <div class="block block-rt">
            <h3 class="head">微信公众号</h3>
            <img class="qrcode" src="/static/images/wx-pub-qrcode.png" width="106" height="106" alt="上天入地黄博士">
        </div>
        {#Powered &amp; Designed by <a href="/">Alexander Huang</a>Copyright© 2015-2016 上天入地黄博士#}
        {#<a target="_blank" href="https://beian.gein.cn">闽ICP备15024340号</a>#}
    </div>
    <p class="site-info">
        上天入地黄博士&nbsp;&nbsp;<a href="https://beian.gein.cn">闽ICP备15024340号</a>
        &nbsp;&nbsp;<span>©2016 codehuang</span>
        &nbsp;&nbsp;<a href="https://beian.gein.cn">使用前必读</a>
    </p>
</div>