<div class="header">
    <div class="container">
        <h1 class="logo">
            <a href="/">
                <img src="/static/images/logo.png" alt="上天入地黄博士">
            </a>
        </h1>
        <div class="pos">
            <div class="nav">
                <a class="{{ route=='home'?'active':'' }}" href="/">首页</a>
                <a class="{{ route=='blog'?'active':'' }}" href="/blog">个人博客</a>
                <a class="{{ route=='tech'?'active':'' }}" href="/tech">极客天地</a>
                <a class="{{ route=='joke'?'active':'' }}" href="/joke">段子世界</a>
                <a class="{{ route=='about'?'active':'' }}" href="/about">关于站长</a>
                {% for k,v in sites %}
                    <a href="{{ v }}">{{ k }}</a>
                {% endfor %}
            </div>
            <div class="user">
                {#<a href="/register" class="btn btn-success">注册</a>#}
                {#<a href="/login" class="btn btn-default">登录</a>#}
            </div>
        </div>
    </div>
</div>