@import "_variables"

@font-face
  font-family 'chat'
  src url(icomoon-font-path + '/chat.ttf?49lwoq') format('truetype'), url(icomoon-font-path + '/chat.woff?49lwoq') format('woff'), url(icomoon-font-path + '/chat.svg?49lwoq#chat') format('svg')
  font-weight normal
  font-style normal

[class^="c-icon-"], [class*=" c-icon-"]
  font-family 'chat' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.c-icon-bonus
  &:before
    content c-icon-bonus
.c-icon-gif
  &:before
    content c-icon-gif
.c-icon-add
  &:before
    content c-icon-add
.c-icon-minus
  &:before
    content c-icon-minus
.c-icon-arrow-down
  &:before
    content c-icon-arrow-down
.c-icon-arrow-left
  &:before
    content c-icon-arrow-left
.c-icon-arrow-top
  &:before
    content c-icon-arrow-top
.c-icon-arrow-right
  &:before
    content c-icon-arrow-right
.c-icon-star-hollow
  &:before
    content c-icon-star-hollow
.c-icon-bubble-solid
  &:before
    content c-icon-bubble-solid
.c-icon-search
  &:before
    content c-icon-search
.c-icon-bubble-hollow
  &:before
    content c-icon-bubble-hollow
.c-icon-user-solid
  &:before
    content c-icon-user-solid
.c-icon-user-hollow
  &:before
    content c-icon-user-hollow
.c-icon-add-circle
  &:before
    content c-icon-add-circle
.c-icon-image
  &:before
    content c-icon-image
.c-icon-camera
  &:before
    content c-icon-camera
.c-icon-video
  &:before
    content c-icon-video
.c-icon-audio
  &:before
    content c-icon-audio
.c-icon-qrcode
  &:before
    content c-icon-qrcode
.c-icon-phone
  &:before
    content c-icon-phone
.c-icon-users
  &:before
    content c-icon-users
.c-icon-star-solid
  &:before
    content c-icon-star-solid
.c-icon-smile
  &:before
    content c-icon-smile

