icomoon-font-path ?= "../../fonts"

c-icon-bonus = "\e906"
c-icon-gif = "\e904"
c-icon-add = "\e62f"
c-icon-minus = "\e68d"
c-icon-arrow-down = "\e80d"
c-icon-arrow-left = "\e80e"
c-icon-arrow-top = "\e80f"
c-icon-arrow-right = "\e810"
c-icon-star-hollow = "\e900"
c-icon-bubble-solid = "\e901"
c-icon-search = "\e902"
c-icon-bubble-hollow = "\e903"
c-icon-user-solid = "\e908"
c-icon-user-hollow = "\e909"
c-icon-add-circle = "\e905"
c-icon-image = "\e90d"
c-icon-camera = "\e90f"
c-icon-video = "\e913"
c-icon-audio = "\e91e"
c-icon-qrcode = "\e938"
c-icon-phone = "\e942"
c-icon-users = "\e972"
c-icon-star-solid = "\e9d9"
c-icon-smile = "\e9e1"
