<!DOCTYPE html><html><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui"><meta name=apple-mobile-web-app-capable content=yes><meta name=apple-mobile-web-app-status-bar-style content=black><meta name=format-detection content="telephone=no, email=no"><title>Codehuang share</title><script>(function () {
      function deleteCookie(name) {
        document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      }

      function getCookie(name) {
        var cookies = document.cookie && document.cookie.split(';');
        for (var i = 0; i < cookies.length; ++i) {
          var entry = cookies[i].split('='),
            key = decodeURIComponent(entry.shift()).replace(/^\s*|\s*$/g, ''),
            value = decodeURIComponent(String(entry.join('')));
          if (key == name) return value;
        }
      }

      function setCookie(name, value, expireHours) {
        var cookieString = name + "=" + encodeURIComponent(value);
        if (expireHours > 0) {
          var date = new Date();
          date.setTime(date.getTime + expireHours * 3600 * 1000);
          cookieString = cookieString + "; expire=" + date.toGMTString();
        }
        document.cookie = cookieString;
      }

      var supportsPushState = (function () {
        var ua = window.navigator.userAgent;
        if (
          (ua.indexOf('Android 2.') !== -1 || ua.indexOf('Android 4.0') !== -1) &&
          ua.indexOf('Mobile Safari') !== -1 &&
          ua.indexOf('Chrome') === -1 &&
          ua.indexOf('Windows Phone') === -1
        ) {
          return false
        }
        return window.history && 'pushState' in window.history
      })();
      var hash = window.location.hash, site = getCookie('site');
      if (supportsPushState) {
        if (site) deleteCookie('site');
        if (hash) window.location.href = hash.substr(1);
      } else {
        if (hash) {
          var isCorrectSite = site && new RegExp('^\\#\\/' + site).test(hash);
          if (!isCorrectSite) {
            var m = /^\#\/([\w_\-]+)\/?/gi.exec(hash);
            setCookie('site', m[1]);
            window.location.reload();
          }
        }
      }
    })();</script><link href=/static/frontend/css/share.00557c890489be3a9008110651911b62.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=/static/frontend/js/manifest.34f5cc872281438ddac9.js></script><script type=text/javascript src=/static/frontend/js/vendor.a4fee53d61280a24da89.js></script><script type=text/javascript src=/static/frontend/js/share.a776ad40b8cf768f6c66.js></script></body></html>