body {
  overflow: hidden;
}

.wrap {
  position: relative;
  background-color: #f2ebd9;
}

.paint {
  path,
  polygon,
  line {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 5s linear;
    animation-fill-mode: forwards;
  }
}

.page {
  transform: translateX(20px);
  display: none;
  height: 100vh;
  width: 100vw;
  &.paint {
    animation: move 5s linear;
    animation-fill-mode: forwards;
    transform: translateX(0);
  }
}

.btn-group {
  position: fixed;
  top: 10px;
  right: 10px;
  .btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #000;
    padding: 0 10px;
    transition: all .3s;
    &:hover, &.active {
      background-color: #000;
      color: #fff;
    }
  }
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}