$theme: #324057;
$sceneColor: #f2ebd9;
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.wrap {
  position: absolute;
  background-color: $sceneColor;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.paint {
  path,
  polygon,
  line {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 5s linear;
    animation-fill-mode: forwards;
  }
}

.page {
  transform: translateX(20px);
  display: none;
  height: 100%;
  width: 100%;
  &.paint {
    animation: move 5s linear;
    animation-fill-mode: forwards;
    transform: translateX(0);
  }
}

.btn-group {
  position: absolute;
  top: 10px;
  right: 10px;
  .btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid $theme;
    padding: 0 10px;
    transition: all .3s ease-in-out;
    &:hover, &.active {
      background-color: $theme;
      color: #fff;
    }
  }
}

#svg_source {
  position: absolute;
  right: -9999px;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.spinner {
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
  z-index: 999;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}