$theme: #A52A2A;
$sceneColor: #f2ebd9;

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: $theme;
}

.container {
  position: absolute;
  background-color: $sceneColor;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.paint {
  path,
  polygon,
  line,
  polyline {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 5s ease-in-out;
    animation-fill-mode: forwards;
  }
}

.page {
  transform: translateX(10px);
  display: none;
  height: 100%;
  width: 100%;
  path,
  polygon,
  line,
  polyline,
  rect {
    stroke-width: 3;
    stroke: $theme;
  }
  text {
    font-weight: bold;
    fill: $theme;
  }
  &.paint {
    animation: move 5s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-10px);
  }
}

.user-interface {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.control-panel {
  position: absolute;
  top: 10px;
  right: 10px;
  .btn-group {
    display: none;
  }
  &.active {
    .btn-group {
      display: block;
    }
    .btn-toggle {
      &:before {
        border-top: none;
        border-bottom: 8px solid $theme;
      }
      &:hover, &:active {
        &:before {
          border-top-color: transparent;
          border-bottom-color: #fff;
        }
      }
    }
  }
  .btn {
    display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid $theme;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
    color: $theme;
    &:hover, &:active {
      background-color: $theme;
      color: #fff;
    }
  }
  .btn-toggle {
    height: 16px;
    line-height: 15px;
    &:before {
      display: inline-block;
      content: "";
      width: 0;
      height: 0;
      border-top: 8px solid $theme;
      border-right: 8px dashed transparent;
      border-left: 8px dashed transparent;
    }
    &:hover, &:active {
      &:before {
        border-top-color: #fff;
        border-bottom-color: transparent;
      }
    }
  }
}

.page-index {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  border: 1px solid $theme;
}

#svg_source {
  position: absolute;
  right: -9999px;
}

@keyframes move {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(10px);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.loading {
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
  z-index: 999;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}