body {
  overflow: hidden; }

.wrap {
  position: relative; }

.paint path,
.paint polygon,
.paint line {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  -webkit-animation: dash 5s linear;
          animation: dash 5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.page {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  display: none;
  height: 100vh;
  width: 100vw; }
  .page.paint {
    -webkit-animation: move 5s linear;
            animation: move 5s linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-transform: translateX(0);
            transform: translateX(0); }

.btn-group {
  position: fixed;
  top: 0;
  right: 0; }

@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); } }

@keyframes move {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); } }
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
