body {
  max-width: 1020px;
}
.iframe-modal {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 900px;
  height: 720px;
  border: 1px solid #E4E4E4;
  background-color: #fff;
  box-shadow: 0 0 10px #E4E4E4;
}