body
  font: 16px/1.5 "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif
a
  font-family: "Microsoft Yahei"
  text-decoration: none
  &:hover
    text-decoration: underline
a:link,
a:visited,
a:hover,
a:active
  color: #000
.sub-title
  color: #f06
.tip
  background: #655
  padding: 10px
  border-radius: 10px
  h5
    margin: 0
    font-size: 22px
    color: yellowgreen
  li
    color: #ffffff
    font-size: 20px
    line-height: 1.5
.data
  .vertical
    label
      display: inline-block
      width: 250px
  label
    color: #f06
  input
    font-size: 16px
    padding: 3px
    width: 100px
.clearfix:after
  content: ""
  height: 0
  visibility: hidden
  display: block
  clear: both
.clearfix
  zoom: 1
