li
  list-style: none
  width: 100px
#container
  width: 1000px
  margin: 0 auto
  h1.title
    color: #f06
  ul
    padding-left: 20px
    li
      float: left
      padding: 10px 20px
      background: #f06
      transform: skewX(-45deg)
      a
        float: left
        color: #fff
        transform: skewX(45deg)
      &.active
        background: #ffa7ae
