.drawer
  position: absolute
  background-color: #ff9d7a
  top: 0
  right: 0
  bottom: 0
  left: 0

.content
  width 100%
  height 100%
  overflow: auto
  background-color: #fa8787

.text
  font-size: 50px
  text-align center
  line-height 300px
  color: #ffffff
