icomoon-font-path ?= "../../fonts"

c-icon-add = "\e62f"
c-icon-add-circle = "\e905"
c-icon-arrow-down = "\e80d"
c-icon-arrow-left = "\e80e"
c-icon-arrow-right = "\e810"
c-icon-arrow-top = "\e80f"
c-icon-audio = "\e91e"
c-icon-bonus = "\e906"
c-icon-bubble-hollow = "\e903"
c-icon-bubble-solid = "\e901"
c-icon-camera = "\e90f"
c-icon-cancel = "\e907"
c-icon-collect = "\e90a"
c-icon-drawing-board = "\e90b"
c-icon-file = "\e90c"
c-icon-gif = "\e904"
c-icon-image = "\e90d"
c-icon-minus = "\e68d"
c-icon-moon = "\e90e"
c-icon-phone = "\e942"
c-icon-qrcode = "\e938"
c-icon-search = "\e902"
c-icon-setting = "\e910"
c-icon-signal = "\e911"
c-icon-smile = "\e9e1"
c-icon-star-hollow = "\e900"
c-icon-star-solid = "\e9d9"
c-icon-sun = "\e912"
c-icon-user-hollow = "\e909"
c-icon-user-solid = "\e908"
c-icon-users = "\e972"
c-icon-video = "\e913"
c-icon-vip = "\e914"
c-icon-wallet = "\e915"

